@import "tailwindcss";

:root {
  --background: black;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ffffff;
    --background: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeUp {
  animation: fadeUp 0.6s ease-out forwards;
}

@keyframes pulseGlow {
  0%,
  100% {
    box-shadow: 0 0 40px rgba(7, 157, 251, 0.4);
  }
  50% {
    box-shadow: 0 0 60px rgba(7, 157, 251, 0.6);
  }
}

/* Normal class for hover */
.pulse-glow-hover:hover {
  animation: pulseGlow 1.5s infinite ease-in-out;
}
